body {
    background-color: rgb(1, 1, 1);
}

.navbar-light {
    color: rgb(204, 204, 197);
}

@font-face {
    font-family: 'outline';
    src: url('hussarboldoutline-webfont.woff2') format('woff2'),
         url('hussarboldoutline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.font {
    font-family: outline;
}

.fontcol {
    color: yellow;
}

.card {
    background-color: rgb(49, 49, 49);
    color: rgb(12, 12, 12);
}

.img {
    position: relative;
    bottom: 5px;
    left: 700px;
}

